
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-div" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Home</a>
        <a class="nav-link" href="/listings/new">Add new Listings</a>
      </div>
      <div class="navbar-search">
        <form class="d-flex" method="get" action="/listings/search">
        <input class="form-control me-2" type="search" placeholder="Enter Country name" name="country"/>
        <button class="btn btn-outline-dark search-btn" type="submit">Search</button>
      </form>
      </div>
      <div class="navbar-nav">
        <% if(!currUser) { %>
          <a class="nav-link btn nav-link-user" href="/signup">Sign UP</a>
          <a class="nav-link btn nav-link-user" href="/login">Log In</a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link btn nav-link-user" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>