<% layout("/layouts/biolerplate.ejs") %>
<div class="row">
    <div class="col-md-6 offset-md-3 col-12 offset-1 alert alert-danger" role="alert">
        <h4>Error: <%= err.message %>
        </h4>
    </div>
</div>