<% layout("/layouts/biolerplate.ejs") %>
<div class="row" style="justify-content: center;">
    <div class="col-md-8 col-12">
        <br><br>
        <h3>Create a new Listing</h3>
        <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" placeholder="Enter title" class="form-control" id="title" required> 
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" placeholder="Enter description" id="description"
                    class="form-control" rows="4" style="resize: none;" required></textarea>
                <div class="invalid-feedback">Enter short description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="image" type="file" id="image" class="form-control" required>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="pirce" class="form-label">Price</label>
                    <input type="text" placeholder="Enter price" name="price" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="country" type="text" placeholder="Enter country" class="form-control"
                        id="country" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">location</label>
                <input type="text" name="location" placeholder="Enter location" id="location"
                    class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">categories: </label>
                <select class="form-select" name="category" id="category">
                <option selected>Select Category</option>
                <option value="House">House</option>
                <option value="Farms">Farms</option>
                <option value="Beach">Beach</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Rooms">Rooms</option>
                <option value="Pools">Pools</option>
                <option value="Camping">Camping</option>
                <option value="Arctic">Arctic</option>
                <option value="Others">Others</option>
            </select>
            </div>
            <button class="btn btn-dark new-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>