<% layout("/layouts/biolerplate.ejs") %>
<div class="row">
    <div class="col-md-8 offset-md-3 col-12 offset-1">
        <h2 class="mb-3">SignUP In Wanderlust</h2>
        <form method="post" action="/signup" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" name="username" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="emial" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Email required!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="invalid-feedback">Enter Password!</div>
            </div>
            <button class="btn btn-success mt-3">SignUp</button>
        </form>
    </div>
</div>